body,html{
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-sizing:border-box;
    background: black;
}
.first-row{
    background:#00af9c;
    width: 100% ;
    height: 222px;
    display: flex;
    padding: 27px 130px 28px 130px;
    
}
.second-row{
     margin: auto;
    padding: 50px;
    background: aliceblue;
    width: 60%;
    margin-top: -106px;
}
.first-header{
    color: #ffffff;
    font-size: 14px;
    margin: 21px 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    text-transform: uppercase;

}
.image-logo{
    width: 60px;
    height: 60px;
}
.qr img{
    display: block;
}
.details{
    display: flex;
    justify-content: space-between;
}
.first-header h1{
    font-size: 18.4px;
}
div a{
    margin: ;
}
.signed-in{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
ol li{
    padding: 10px 15px;
    font-size: 17px;
}
ol{
    margin-left: -16px;
}
.menu{
    display: inline-block;
    margin: 0px 2px -3px 2px;
}
.settings{
    display: inline-block;
    margin: 0px 2px -3px 2px;
}
.help-link{
    color:#009688
}
